h1 {
  color: hsl(0, 64%, 22%);
  text-align: center;
}
body {
  margin: 0;
}
#game {
  text-align: center;
  color: #cc2929;
  font-size: 20px;
}
.one{
  display: inline-block;
}
.two {
  display: inline-block;
}
.three {
  display: inline-block;
}
.inner {
  border-style: solid;
  padding: 55px;
}
#reset {
  display: block;
  margin-left: 125px;
  margin-top: 25px;
}
.players {
  display: inline;
  padding: 50px;
  color: rgb(182, 56, 56); 
}
#tictactoe {
  margin-left: 215px;
  padding: 50px;
}
aside {
  color: black;
  font-size: 25px;
}